body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#full{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}    
button:hover{
    background-color: hsl(0, 0%, 49%);
}
button:active{
    background-color: hsl(0, 1%, 64%);
}
.operator-btn{
    background-color: rgb(242, 101, 50);
}
.operator-btn:hover{
    background-color: rgb(239, 123, 81);
}
.operator-btn:active{
    background-color: rgb(250, 162, 129);
}