body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 173, 173);
}
#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: rgb(73, 53, 53);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-color: rgb(78, 60, 60);
    border-radius: 50px;
    background-color: rgb(238, 229, 229);
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(57, 45, 45);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: rgb(30, 95, 73);
}
#startBtn:hover{
    background-color: rgb(10, 57, 42);
}
#stopBtn{
    background-color: brown;
}
#stopBtn:hover{
    background-color: rgb(107, 27, 27);
}
#resetBtn{
    background-color: rgb(24, 24, 163);
}
#resetBtn:hover{
    background-color: rgb(14, 14, 103);
}