body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

h1 {
    color: rgb(178, 200, 228);
}

form {
    background-color:rgb(86, 122, 154);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: rgb(210, 210, 235);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(186, 210, 241);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}